# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Files by intellij
.idea

# file by test_coverage
test/.test_coverage.dart
coverage/

# Conventional directory for build outputs
build/
dist/

# Directory created by dartdoc
doc/api/

